
# Backend API
API_PORT=8080
API_HOST=0.0.0.0
GIN_MODE=debug
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost,http://geopollute.local
LOG_LEVEL=info

# Frontend
VITE_API_BASE=http://api.geopollute.local
VITE_USE_MOCK=false

# Traefik (Production)
TRAEFIK_DOMAIN=geopollute.local
TRAEFIK_ACME_EMAIL=admin@example.com
